<img src="{{avatar_url}}" alt="{{name}}" class="avatar" />
<h2>{{name}}</h2>
<h3>{{login}}</h3>

<h6>{{location}}</h6>
<h6>{{created_at}}</h6>

<ul>
  <li>{{followers_url}}</li>
  <li>{{starred_url}}</li>
  <li>{{following_url}}</li>
</ul>

<h4>Organizations</h4>
<p>{{organizations_url}}</p>
