<div class="basic_info">
  <img src="{{avatar_url}}" alt="{{name}}" class="avatar" />
  <h2 class="name">{{name}}</h2>
  <h3 class="login">{{login}}</h3>
</div>
<ul class="attributes">
  <li>
    <span class="octicon octicon-location"></span>
    <h6 class="location">{{location}}</h6>
  </li>
  <li>
    <span class="octicon octicon-clock"></span>
    <h6>Joined on {{created_at}}</h6>
  </li>
</ul>

<ul class="numbers">
  <li class="followers">{{followers}}
    <span>Followers</span>
  </li>
  <li class="starred">{{starred}}
    <span>Starred</span>
  </li>
  <li class="following">{{following}}
    <span>Following</span>
  </li>
</ul>


<h4>Organizations</h4>
<img src="{{'organizations_url'}}" alt="{{'y u no work'}}" class="avatar" />
