<div class="basic_info">
  <img src="{{avatar_url}}" alt="{{name}}" class="avatar" />
  <h2 class="name">{{name}}</h2>
  <h3 class="login">{{login}}</h3>
</div>
<div class="attributes">
  <span class="octicon octicon-location"></span>
  <h6>{{location}}</h6>
  <span class="octicon octicon-clock"></span>
  <h6>{{created_at}}</h6>
</div>

<ul>
  <li>{{followers}}</li>
  <li>{{starred}}</li>
  <li>{{following}}</li>
</ul>


<h4>Organizations</h4>
<img src="{{'organizations_url'}}" alt="{{'y u no work'}}" class="avatar" />
